/* PHASE 2 of calculators css */
.num-wrap {
	border-bottom: 1px solid #eee;
	margin-bottom: 8px;
	display: flex;
	padding-bottom: 9px;
}
.calc-subtotal h5 {
}
.calc-total input.cf7-calculation {
	text-align: right;
	padding-right: 15px !important;
}
.uacf7-steps.steps-form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

/* calc error design */
.wpcf7 .wpcf7-not-valid-tip {
  background-color: #4caf50;
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  padding: 6px 16px;
}

.wpcf7 .wpcf7-not-valid-tip::after {
  border: 8px solid rgba(136, 183, 213, 0);
  border-bottom-color: #4caf50;

}

.steps-form .steps-row .steps-step::before {
  content: "";
  position: absolute;
  top: 34px;
  left: calc(50% - 100px);
  width: 200px;
  font-size: 14px;
  color: #616161;
  font-style: normal;
  font-weight: 400;
}

.uacf7-prev,
.uacf7-next,
.wpcf7-submit {
  text-transform: unset;
  padding: 0 16px;
}

.steps-form .steps-row .steps-step:nth-child(1)::before {
  content: "Skaičiavimo būdas";
}

.steps-form .steps-row .steps-step:nth-child(2)::before {
  content: "Reikalingi duomenys";
}

.steps-form .steps-row .steps-step:nth-child(3)::before {
  content: "Rezultatai";
}

.legal {
  color: #898C89;
  font-size: 14px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.uacf7-form-872 .step-content .uacf7-next,
.uacf7-form-872 .step-content .uacf7-prev {
  border-width: 2px !important;
}

.uacf7-step.step-content.step-start button.uacf7-next {
  float: right !important;
}

.uacf7-prev,
.uacf7-next,
.wpcf7-submit {
  margin-right: 0;
}

.row-tarpine>.col>.col-inner {
  padding: 12px 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
}

#section_skaiciuokle h4 {
  margin-bottom: 26px;
}

#section_skaiciuokle h5 {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .steps-form .steps-row {
    display: table-row;
  }

  .steps-form .steps-row .steps-step {
    float: none;
  }

  .steps-form .steps-row .steps-step::before {
    top: 34px;
    left: calc(50% - 50px);
    width: 100px;
    line-height: 16px;
    height: 40px;
    z-index: 1;
  }
}

/* stilistiniai css - end */
/*
input[type="button"].wpcf7-calculate_button {
  background-color: #4CAF50;
  padding: 0 18px;
  color: white;
  font-weight: 700;
  font-family: "Nunito";
  text-transform: unset;
  font-size: 20px;
}
*/
/* results wrap */
.results-wrap {
  display: flex;
  flex-direction: column;
}
.results-wrap .calc-subtotal {
  order: 2;
}

.results-wrap .calc-total {
  order: 1;
}
.calc-total input.cf7-calculation {
	cursor: default;
	border: none !important;
	margin-bottom: 0;
	color: #4CAF50;
	font-size: 36px;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
	-webkit-appearance: none !important;
	margin: 0;
	padding: 0;
	padding-left: 0;
	margin-top: -7px;
	margin-bottom: 0;
	box-shadow: none;
}
.calc-total .wpcf7-form-control-wrap::after {
	content: "€";
	 font-size: 36px;
	font-weight: 600;
}
.calc-subtotal input.cf7-calculation,
.calc-subtotal input[type="number"] {
	cursor: default;
	border: none !important;
	margin-bottom: 0;
	color: #4CAF50;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
	height: 24px;
	padding-left: 2px;
	-moz-appearance: textfield !important;
	-webkit-appearance: textfield !important;
	box-shadow: none;
	margin-top: 0px;
	margin-bottom: 0;
	text-align: right;
}
.calc-subtotal .col,
.calc-total .col {
	padding-bottom: 20px;
}
.calc-subtotal .wpcf7-form-control-wrap,
.calc-total .wpcf7-form-control-wrap{
    display: flex;
    align-items: center;
}
.calc-subtotal .wpcf7-form-control-wrap::after {
	content: "€";
border: none !important;
margin-bottom: 0;
font-size: 18px;
line-height: 18px;
height: 18px;
-moz-appearance: textfield;
-webkit-appearance: none !important;
box-shadow: none;
	margin-top: 0;
}
.calc-total .wpcf7-form-control-wrap::after {
border: none !important;
margin-bottom: 0;
font-size: 36px;
font-weight: 600;
height: 50px;
line-height: 43px;
-webkit-appearance: none !important;
}
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 37px;
  height: 37px;
  border-radius: 8px;
  border: 1px solid var(--gray-light, #E9E9E9);
  display: inline-flex;
  place-content: center;
  min-width: 37px
}

.row-suskaiciuok .wpcf7-checkbox .wpcf7-list-item label {
  display: flex;
  gap: 16px;
  align-items: center;
}

.row-suskaiciuok .wpcf7-checkbox .wpcf7-list-item label .wpcf7-list-item-label {
  display: inline-flex;
  font-size: 20px;
  font-family: "Open Sans";
  line-height: 28px;
  font-weight: 500;
}

input[type="checkbox"]::before {
  content: "";
  width: 18px;
  height: 18px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: white;
  position: relative;
  top: 7px;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  transform: scale(1);
  background-color: #4CAF50;
  border: 1px solid var(--gray-light, #4CAF50);
}

input[type="checkbox"]:hover {
  border: 1px solid var(--gray-light, #4CAF50);
}



/* form customization */
.select-resize-ghost,
.select2-container .select2-choice,
.select2-container .select2-selection,
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
}

input:hover,
select:hover,
textarea:hover {

}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {

}

/* form customization -end */